.puzzleContainer {
  border-style: groove;
  background: red;

  display: inline-flex;
}

.nodeBox {
  padding: 0.1vh;
  margin: 0.1vh;
  float: left;
  vertical-align: top;
}

.node {
  cursor: pointer;
  user-select: none;
  display: block;
  border: outset;

  width: 0.7vh;
  height: 0.7vh;
  border-width: 0.1vh;
  margin: 0.6vh;

  background: blue;
}

.nodeInvisible{
  background: hsla(350,50%,50%,0);
  border-color: transparent;
}

.nodeBoxInactive {
  background : black;
}

.nodeBoxActive {
  background : gray;
}

.nodeNegated {
  background: blue;
}

.nodeNonNegated {
  background: green;
}

.nodeActive {
}

.nodeInactive {
  box-shadow: 0px 0px 0.6vh 0.3vh rgba(0,0,0,1);
}
