.beautyNodeBox {
  padding: 0.1vh;
  margin: 0.1vh;
  float: left;
  vertical-align: top;
}

.beautyNode {
  cursor: pointer;
  user-select: none;
  display: block;
  border: outset;

  width: 0.7vh;
  height: 0.7vh;
  border-width: 0.1vh;
  margin: 0.6vh;

  background: blue;
}

.beautyNodeInvisible{
  background: hsla(350,50%,50%,0);
  border-color: transparent;
}

.beautyNodeBoxInactive {
  background : black;
}

.beautyNodeBoxActive {
  background : gray;
}

.beautyNodeNegated {
  background: blue;
}

.beautyNodeNonNegated {
  background: green;
}

.beautyNodeActive {
}

.beautyNodeInactive {
  box-shadow: 0px 0px 0.6vh 0.3vh rgba(0,0,0,1);
}
