.nodeBoxInactive {
  height : 100px;
  background : red;
}

.nodeBoxActive {
  height : 100px;
  background : yellow;
}

.nodeInactive {
  height : 60%;
  width : 30%;
  margin: 1%;
  background : blue;
  float : left;
}

.nodeActive {
  height : 60%;
  width : 30%;
  margin: 1%;
  background : green;
  float : left;
}

